<h1>Login Page</h1><br>

<form action="/sessions" method="POST">

<label>Email:</label>
<input type="text" name="customer[email]" id="customer_email"><br>

<label>Password:</label>
<input type="text" name="customer[password]" id="customer_password">

<input type="submit" id="Log In">
</form>

