<h1>Log in to your admin account:</h1>
<form method="post" action="/admins/admin_login">
  <input type="text" name="admin_username" placeholder="username">
  <input type="text" name="admin_password" placeholder="password">

  <input type="submit" value="Log in">
</form>
