<h1>Log in to your admin account:</h1><br>
<form method="post" action="/admins/admin_login">
    <label>Admin Username:</label>
      <input type="text" name="admin_username" placeholder="username"><br>
    <label>Admin Password:</label>
      <input type="text" name="admin_password" placeholder="password"><br>

    <input type="submit" value="Log in"><br><br>

    <a href="/admin/admin_logout">Log out here</a>
</form>
