<h1>Signup Page</h1><br>

<form action="/registrations/signup" method="POST">
<label>Email:</label>
<input type="text" name="customer[email]" id="customer_email">
<label>Email:</label>
<input type="text" name="customer[password]" id="customer_password">
</form>
