<h1>All of Your Orders</h1>

    <% @orders.each do |order|%>
        <h3>Order Number: <%= order.id %></h3>
        <label>Date:</label>
            <%= order.order_date%><br>
        <label>Order Description:</label>
            <%= order.order_description %><br><br>
    <% end %>    
    <br><br>
    <button onclick="goBack()">Go back to edit new order</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script><br><br>        
        <a href="/orders/create_order">Make a new order</a><br><br>
        <a href='/'>Home Page/Logout</a><br><br>

<h4>Please contact our office at 555-555-5555 or <a href='mailto:mysmallbusinessemail@smail.com'>send us an email</a> if you have questions/comments about previous orders.</h4>
