<h1>All of Your Orders</h1>

    <% @orders.each do |order|%>
        <h3>Order Number: <%= order.id %></h3>
        <label>Date:</label>
            <%= order.order_date %><br>
        <label>Order Description:</label>
            <%= order.order_description %><br><br>
    <% end %>    

<br><br>
    <a href='/'>Home Page/Logout</a>


