<h1>Login Page</h1><br>

<form action="/customers/customer_login" method="POST">

<label>Email:</label>
<input type="text" name="email" id="customer_email"><br>

<label>Password:</label>
<input type="text" name="password" id="customer_password">

<input type="submit" id="Log In">
</form>