<h1>Make a New Account</h1><br>

<form action="/customers/new" method="POST">

    <label>First Name:</label>
    <input type="text" name="customer[customer_first_name]" id="customer_first_name"><br>
    <label>Last Name:</label>
    <input type="text" name="customer[customer_last_name]" id="customer_last_name"><br>
    <label>Email(same as username):</label>
    <input type="text" name="customer[email]" id="customer_email"><br>
    <label>Password:</label>
    <input type="text" name="customer[password]" id="customer_password"><br>
    <label>Address:</label>
    <input type="text" name="customer[address]" id="customer_address"><br>
    <label>Phone Number:</label>
    <input type="text" name="customer[phone_1]" id="customer_phone_1"><br>
    <label>Alt. Phone Number:</label>
    <input type="text" name="customer[phone_2]" id="customer_phone_2"><br>
    <label>Fax Number (optional):</label>
    <input type="text" name="customer[fax]" id="customer_fax"><br>
    <input type="submit" id="Submit">
</form>

