<h1>Edit Your New Order</h1><br>

<form action="/orders/<%= @order.id %>" method="POST">
    <input type="hidden" value="PATCH" name="_method"> 
        <h3>Order Number: <%= @order.id %></h3><br>
    <h3>(Edited) Date of Order: <%= Date.today %></h3><br>
        <label>Please tell us a description of your project:</label><br>
            <input style="height:150px;width:600px;font-size:10pt;" 
            <textarea type="textarea" name="order_description" id="customer_order_description" value="<%= @order.order_description %>" cols="80" rows="10"><br><br>
        <input type="submit" value="Save Changes">
</form>