<h1>Your New Order</h1>

    <h3>Order Number: <%= @order.id %> </h3><br><br>
    
        <h2><%= @order.order_date %></h2><br>
        <h3><%= @order.kind_of_service %></h3><br>
        <h3><%= @order.order_description %></h3><br><br>

    <a href="/orders/edit_order">Edit the order here</a><br><br>
    <a href="/orders/edit_order">Delete the order here</a><br><br>
    <a href="/orders/customer_orders">See your order history here</a>



