<h1>Welcome to Our Small Business!</h1><br>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>
<br><br>

<h2>Make an account or log in for access to all of your orders and to see some special offers!</h2><br>

<a href="/registrations/customer_signup">Sign up here</a><br><br>
<a href="/sessions/customer_login">Log in here</a><br><br>
<% if logged_in? %>
    <a href="/customers/:id/logout">Log out here</a>
<% end %><br><br>
<h4>Please contact our office at 555-555-5555 or <a href='mailto:mysmallbusinessemail@smail.com'>send us an email</a> if you prefer to make a service order by phone or email, or if you have any questions or comments.</h4>
<h4>Open Hours: </h4>
