<h1>Welcome to Our Small Business!</h1><br>

<h2>Make an account for access to all of your orders and special offers!

<a href="/registrations/signup">Sign up here</a>><br>
<a href="/sessions/login">Log in here</a>><br>
<a href="/sessions/logout">Log out here</a>>
<br>
<br>
<br>

<% private %>

<a href="/admin/login">Admin log in</a>

