<h1>Welcome to Our Small Business!</h1><br>

<h2>Make an account or login for access to all of your orders and special offers!

<a href="/customers/customer_signup">Sign up here</a>><br><br>
<a href="/customers/customer_login">Log in here</a>><br><br>
<a href="/customers/logout">Log out here</a>>

<p>To make or change an order, please call (555) 555-5555 or send us an email at mysmallbusiness.bizco.com.</p><br>
<br>
<p>Open Hours: </p>

<%# <a href="/admin/login">Admin log in</a> %>

